<h3 class="head-h"> Contact Us</h3>

<div id="contactText" class="head-h">
    <h4 class="head-l">Us</h4>
    Asaf Azar<br/>
    Orly Gabay<br/>
    Ishai Shor<br/>
    Einav Zeira<br/><br/>

    <h4 class="head-l">Email</h4>
    assaf6654@gmail.com<br/>
    orly.gabay25@gmail.com<br/>
    ishaish103@gmail.com</br>
    einavzeira@gmail.com</br><br/>

    <h4 class="head-l">Address</h4>
    Hod haSharon, israel<br/>
    Holon, israel<br/>
    Kiryat Gat, israel<br/>
    Rishon leTzion, israel<br/><br/>

    <h4 class="head-l">Phone</h4>
    0509920924 - Asaf<br/>
    0528849889 - Orly<br/>
    0543985292 - Ishai<br/>
    0542228311 - Einat<br/>
</div>