<h3 class="head-h"> Your Displayed Ads </h3>
<hr>

<h2 class="head-owner" ng-show="displayedAd.name.length">{{displayedAd.owner}} <br></h2>
<h2 class="head-name" ng-show="displayedAd.name.length">{{displayedAd.name}}<br></h2>
<span ng-repeat="text in displayedAd.texts">
    <h4 class="head-text"> {{text.text}} </h4>
</span>
<div ng-repeat="image in displayedAd.images" style="text-align: center;">
    <div>
        <div style="margin-left: 5px; margin-right: 5px;">
            <img src="{{image.url}}" width="300" height="300" style="margin:20px">
        </div>
    </div>
</div>
<!--
<div class="row">
    <div class="main-chart">
        <div class="col-md-4 mb" style="padding-top: 5px">
            <span ng-repeat="text in displayedAd.texts">
                <h4 class="head-h"> {{text.text}} </h4>
            </span>
        </div>
        <div ng-repeat="image in displayedAd.images" class="col-md-4 mb">
            <div>
                <div style="margin-left: 5px; margin-right: 5px;">
                    <img src="{{image.url}}" width="300" height="300" style="margin:20px">
                </div>
            </div>
        </div>
    </div>
</div>
-->